:root {
  /* Color definitions */
  --color-green: #66e5bf;
  --color-purple: #a675f5;
  --color-blue: #050542;
  --color-white: #ffffff;
  --color-yellow: #fffc86;

  /* Default scheme colors */
  --color-text: var(--color-blue);
  --color-background: var(--color-white);
  --color-accent: var(--color-blue);
  --color-logo: var(--color-blue);

  --color-nav: var(--color-blue);
  --color-nav-text: var(--color-white);
  --color-nav-border: var(--color-blue);
  --color-active: var(--color-yellow);
  --color-active-text: var(--color-blue);

  --rounded: 0.5rem;
  --pilled: 2rem;
  --shadow: 0.15rem;
  --gap: clamp(1rem, calc(100vw / 24 * 0.5), 2rem);
  --large-gap: clamp(1rem, calc(100vw / 24), 4rem);
  --padding: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

html {
  height: 100%;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  font-family: Open Sans, sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

header > a,
header abbr {
  text-decoration: none;
  color: currentColor;
}

header h1 {
  font-size: 1rem;
}

header h1 abbr span {
  position: relative;
  display: inline-block;
  background-color: var(--color-background);
  z-index: 1;
  padding: 0.3em 0.4em;
  border: 1px solid var(--color-text);
  border-radius: var(--rounded);
}

/* HTML ELEMENTS */
img {
  border-radius: var(--rounded);
  max-width: 100%;
}

del {
  display: none;
}
#changes.checked ~ * del {
  display: inline;
}
