{% extends "layouts/base.html" %}

{% block content %}
  
  {% if content %}
  <section class="{{ item.data.classlist }}">
    {{ content | safe }}
  </section>
  {% endif %}

  {% for item in collections[collection] %}

    <{{ item.data.type }} class="{{ item.data.classlist }}" id="{{ item.fileSlug }}">

      {% if item.data.type === 'figure' %}
        <img src="{{ item.data.image }}" alt="{{ item.data.alt }}">
        <figcaption>{{ item.data.caption }}</figcaption>
      {% else %}
        {{ item.data.content | safe }}
      {% endif %}
    </{{ item.data.type }}>

  {% endfor %}

{% endblock %}
