{% extends "layouts/base.html" %}

{% block content %}

  <{{ type }} class="{{ classlist }}" id="{{ fileSlug }}">
    <a class="issue" href="{{ item.fileSlug }}">Report Issue</a>
  
    {% if type === 'figure' %}
    <img src="{{ image }}" alt="{{ alt }}">
    <figcaption>{{ caption }}</figcaption>
    {% else %}
    {{ content | safe }}
    {% endif %}
  </{{ type }}>

  <section class="issue blue-on-white rounded">
    <h2>Is er iets mis?</h2>
    
    <p>Fijn dat je meedenkt! Als je een voorstel voor aanpassing hebt op de content
    die hier staat vermeld, schiet dan alstjeblieft een issue in op onze GitHub
    omgeving door onderstaand formulier in te vullen.</p>

  </section>
{% endblock %}
