<footer>
  <nav>
    <h2>Microsites</h2>
    <p>FDND maakt gebruik van een heleboel microsites in plaats van één grote
    website met een ingewikkelde informatiestructuur. Microsites zijn kleine
    websites met een specifiek doel ter ondersteuning van een campagne,
    informatie over een product of dienst.</p>
    <ul>
      <li><a href="https://fdnd.nl">FDND.nl</a></li>
      <li><a href="https://contact.fdnd.nl">Contact en routebeschrijving</a></li>
      <li><a href="https://programma.fdnd.nl">Programma</a></li>
      <li><a href="https://skc.fdnd.nl">Studie Keuze Check</a></li>
      <li><a href="https://partners.fdnd.nl">Partners</a></li>
      <li><a href="https://tasks.fdnd.nl">Leertaken</a></li>
      <li><a href="https://styleguide.fdnd.nl">Styleguide</a></li>
    </ul>
  </nav>
</footer>
