<div class="issue"><a href="{{ site.repo }}{{ site.issue }}{{ site.url }}{{ page.url }}"><span>Report issue</span></a></div>

<input type="checkbox" id="issueToggle" class="visually-hidden">
<label for="issueToggle"></label>

<aside class="issue blue-on-white">
  <h3>Fijn dat je meedenkt!</h3>
  
  <p>Heb je een aanpassing op de inhoud die je selecteerde? Schiet dan een issue
  in op onze GitHub omgeving door het formulier in te vullen.</p>

  <form action="https://issues.fdnd.nl" method="post" class="issue">
    <input type="hidden" name="repositoryId" value="{{ site.repositoryId }}">
    <input type="hidden" name="reference" value="{{ site.url }}{{ page.url }}">
    <input type="hidden" name="title" value="{{ title }}">
    <fieldset>
      <legend>{{ page.url }}</legend>
      <mark></mark>
      <textarea name="comment" id="comment" placeholder="Wat stel jij voor?"></textarea>
    </fieldset>

    <fieldset>
      <label for=""></label>
      <input type="submit" value="Verstuur issue">
    </fieldset>
  </form>

  <p>Onthoud, bijdragen aan onze repositories volgen de <a href="https://docs.github.com/en/site-policy/github-terms/github-community-guidelines" target="_blank">GitHub Community Guidelines</a>.
  </p>
</aside>

<style>
  ::selection {
    background-color: var(--highlight);
    color: var(--blue);
  }

  div.issue {
    display: none;
    position: fixed;
    margin-top: -2rem;
    margin-left: -1rem;
    color: var(--blue);
    background-color: var(--highlight);
  }
  div.issue a {
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url('/assets/issue.svg');
    filter: invert(7%)sepia(34%)saturate(5592%)hue-rotate(235deg)brightness(101%)contrast(115%);
  }
  div.issue > a > span {
    display: none;
  }
  div.issue.active { 
    display: block;
  }

  #issueToggle,
  label {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    z-index: 6;
    background-image: url('/assets/close.svg');
    filter: invert(7%)sepia(34%)saturate(5592%)hue-rotate(235deg)brightness(101%)contrast(115%);
    transition: ease-out 200ms;
    transform: translateX(22rem);
  }

  aside.issue {
    position: fixed;
    padding: 2rem;
    top: 0rem;
    right: 0rem;
    height: 100vh;
    width: 22rem;
    z-index: 5;
    box-shadow: var(--blue) 0 .2rem 1rem;
    transition: ease-out 200ms;
    transform: translateX(100%);
  }
  #issueToggle:checked + label,
  #issueToggle:checked ~ aside.issue {
    transform: translateX(0%);
  }

  aside.issue:before {
    content:''; 
  }

  aside.issue h3,
  aside.issue h3 + p {
    margin-bottom: 1rem;
  }

  aside.issue legend {
    margin-bottom: .5rem;
  }
  
  aside.issue mark {
    line-height: 1.4rem;
    background-color: var(--attention-background);
  }

  aside.issue textarea {
    margin-top: 1rem;
    height: 8rem;
    resize: vertical;
  }

  aside.issue form + p {
    margin-top: 2rem;
    line-height: 1rem;
    font-size: .7rem;
  }
</style>

<script>
  const issueBox = document.querySelector('div.issue')
  const checkBox = document.querySelector('#issueToggle')
  const selectionDisplay = document.querySelector('aside.issue mark')

  document.addEventListener('selectionchange', () => {
    let selection = document.getSelection()
    let coords = selection.getRangeAt(0).getBoundingClientRect()

    if (selection.toString() !== '') {
      issueBox.style.top = `${coords.top}px`
      issueBox.style.left = `${coords.left + (coords.width/2)}px`
      issueBox.classList.add('active')
    } else {
      issueBox.classList.remove('active')
    }
  })

  issueBox.addEventListener('click', (event) => {
    event.preventDefault()
    selectionDisplay.innerHTML = document.getSelection().toString()
    checkBox.checked = true
  })
</script>